altgraph>=0.17
future>=0.18.2
pefile>=2019.4.18
Pillow>=7.2.0
pyinstaller>=4.0
pyinstaller-hooks-contrib>=2020.9
pyperclip>=1.8.1
pystray>=0.17.1
pywin32>=228
pywin32-ctypes>=0.2.0
PyYAML>=5.3.1
six>=1.15.0
WMI>=1.5.1
